@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.albums,
.artists,
.playlist {
  padding: $space;
  grid-gap: $space;
  @include display-grid;
  @include grid-template-columns(auto);
  @include media(tablet) {
    padding: $space_x3;
    grid-gap: $space;
    @include display-grid;
    @include grid-template-columns(auto auto auto);
  }
  @include media(desktop-s) {
    padding: $space_x3;
    grid-gap: $space;
    @include display-grid;
    @include grid-template-columns(auto auto auto auto);
  }
}

.cards {
  @include cards;
}

.main__cards--card {
  @include cards;
}

.weekend {
  color: $color-claro;
  background-color: #050505;
}
.travis {
  color: $color-claro;
  background-color: #8a1c18;
}
.eminem {
  color: $color-claro;
  background-color: #3e3f37;
}
.rihanna {
  color: $color-claro;
  background-color: #d78450;
}
