@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.spotify-icon {
  fill: $color-negative;
}

.cover {
  border-radius: $space;
  @include sombras;
}

.noShow {
  display: none;
}

.hide {
  display: none;
}

.load-more {
  button{
    padding: $space $space_x3;
    color: $color-claro;
    background-color: $color-oscuro;
  }
}


