@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

.hide {
  display: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    lottie-player {
      width: 300px;
      height: 300px;
    }
  }
}

.loader-open {
  overflow: hidden;
}
