@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.login {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: get-opacity($color-oscuro, 0.5);
  overflow: hidden;
  &__container {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: $color-claro;
    border-radius: $space;
    &--btn {
      padding: $space $space_x2;
      text-decoration: none;
      color: $color-claro;
      background-color: $color-variante;
      border-radius: $space;
      &:hover {
        text-decoration: none;
        color: $color-claro;
        background-color: get-opacity($color-variante, .8);
      }
    }
  }
}
