@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";

.musicPlayer {
  position: fixed;
  z-index: 2;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: $color-primario;
  background-color: $color-bg-claro;
  @include media(desktop-s) {
    display: none;
  }
}

.container {
  padding-bottom: 60px;
  overflow: auto;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space $space_x2;
    h2 {
      @include font-size($h2);
    }
    button,
    a {
      border: none;
      background-color: transparent;
      img {
        width: 25px;
      }
    }
  }

  &__body {
    padding: $space_x2;
    &--covers {
      display: flex;
      align-items: center;
      img {
        margin: 0 auto;
        width: 250px;
        height: 250px;
        object-fit: cover;
      }
    }
    h2 {
      padding-top: $space_x3;
      @include font-size($h2);
    }
    p {
      margin: 0;
      @include font-size($p);
    }
  }

  &__footer {
    padding: 0 $space;
    p {
      margin: 0;
      @include font-size(12px);
    }
  }
}

lottie-player {
  width: 300px;
  height: 300px;
}
