//  ███╗...███╗.█████╗.██╗███╗...██╗
//  ████╗.████║██╔══██╗██║████╗..██║
//  ██╔████╔██║███████║██║██╔██╗.██║
//  ██║╚██╔╝██║██╔══██║██║██║╚██╗██║
//  ██║.╚═╝.██║██║..██║██║██║.╚████║
//  ╚═╝.....╚═╝╚═╝..╚═╝╚═╝╚═╝..╚═══╝
//  ................................
@import "../Tokens/colors";
@import "../Tokens/spacings";
@import "../Tokens/typos";
//
html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-y: scroll;
    margin-right: 0;
}

body {
    padding: 0;
    margin: 0;
    color: $color-oscuro;
    background: $color-bg-claro;
    @include titulos($Fuente1);
    @include font-size($p);
}

