@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.background__player {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(54, 54, 54, 0.247);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.player {
  padding: $space;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  color: $color-claro;
  img {
    width: 50px;
  }
  &__details {
    @include font-size($p);
    p,
    a {
      margin: 0;
      text-decoration: none;
      color: $color-claro;
    }
  }

  &__controls {
    button, a {
      margin-left: $space_x2;
      border: none;
      outline: none;
      background-color: transparent;
      img {
        width: 20px;
      }
    }
  }
}
