
//Brand colors

$color-primario: #263238;
$color-secundario: #546E7A;

//Action colors
$color-variante: #E53935;

//Boolean colors
$color-negative: #e53935;
$color-positive:#36c03b;

//Background colors
$color-bg-claro: #f1efef;
$color-bg-oscuro: #263238;

//Basic colors
$color-claro: #f8f8f8;
$color-oscuro: #263238;